<%- include('includes/head.ejs') %>
<%- include('includes/navigationRequestView.ejs') %>
</head>

<body>
    <h1 class="title"><%= pageTitle %></h1>
    <div class="info">
        <p><%= message%></p> 
        <br>
        <a href="/">Return me to home page</a>   
    </div>    
    <br>
    <br>
    <%- include('includes/end.ejs') %>
 <%- include('includes/footer.ejs') %>   
